*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(43, 43, 43);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.block{
    border: solid white;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 600px;
    justify-content: space-around;
    border-radius: 20px;
}

.t{
    font-size: 50px;
    color: white;
    margin-left: 15px;
}

.grades{
    width: 500px;
}

.cnopka{
    margin-left: 80px;
    border: solid white;
    width: 330px;
    text-align: center;
    padding:3px;
    border-radius: 40px;
    cursor: pointer;
}